@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<BlogProject.Models.Repositories.Category>
<div class="text-center">
    @if (User.Identity.IsAuthenticated)
    {
        <h1>Welcome @User.Identity.Name :)</h1>
    }
    else
    {
        <h1>Welcome!</h1>
    }
</div>

@{
    var imagePaths = new List<string>
    {
        "/images/dessert.jpg",
        "/images/salad.jpg",
        "/images/soup.jpg",
        "/images/pasta.jpg"
        // Kategori sayın kadar görsel ekle
    };

    var index = 0;
}

<div class="container mt-5">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        @foreach (var category in Model)
        {
            <div class="col">
                <a asp-controller="Post" asp-action="ByCategory" asp-route-id="@category.Id">
                <div class="category-card">
                    <img src="@imagePaths[index]" alt="@category.Name"/>
                    <div class="overlay-text">
                        @category.Name
                    </div>
                </div>
                </a>
            </div>
            index++;
        }
    </div>
</div>
